{% extends 'template.front.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}
    {{ parent() }}
    {% block header %}
        <div class="example-wrapper">
            <h1>Hello {{ title }}</h1>
        </div>
    {%  endblock %}

{% endblock %}
