{% extends 'template.back.html.twig' %}


{% block title %}{{ parent() }} | {{ title }}{% endblock %}

    {% block header %}
        {{ parent() }}
        <h3>{{ homepage_text }}</h3>
    {% endblock %}