<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EntitiesG1!{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block content %}

        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
